In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [8]:
PATH=r"C:\Users\rbwes\Documents\Programmierworkspaces\Python\data\Santander_customer_transaction_prediction\santander-customer-transaction-prediction\\"

df_train=pd.read_csv(PATH+"train.csv")
df_test=pd.read_csv(PATH+"test.csv")

In [10]:
df_train.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [13]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Columns: 202 entries, ID_code to var_199
dtypes: float64(200), int64(1), object(1)
memory usage: 308.2+ MB

In [14]:
df_train.describe()

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,...,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,0.100490,10.679914,-1.627622,10.715192,6.796529,11.078333,-5.065317,5.408949,16.545850,0.284162,...,3.234440,7.438408,1.927839,3.331774,17.993784,-0.142088,2.303335,8.908158,15.870720,-3.326537
std,0.300653,3.040051,4.050044,2.640894,2.043319,1.623150,7.863267,0.866607,3.418076,3.332634,...,4.559922,3.023272,1.478423,3.992030,3.135162,1.429372,5.454369,0.921625,3.010945,10.438015
min,0.000000,0.408400,-15.043400,2.117100,-0.040200,5.074800,-32.562600,2.347300,5.349700,-10.505500,...,-14.093300,-2.691700,-3.814500,-11.783400,8.694400,-5.261000,-14.209600,5.960600,6.299300,-38.852800
25%,0.000000,8.453850,-4.740025,8.722475,5.254075,9.883175,-11.200350,4.767700,13.943800,-2.317800,...,-0.058825,5.157400,0.889775,0.584600,15.629800,-1.170700,-1.946925,8.252800,13.829700,-11.208475
50%,0.000000,10.524750,-1.608050,10.580000,6.825000,11.108250,-4.833150,5.385100,16.456800,0.393700,...,3.203600,7.347750,1.901300,3.396350,17.957950,-0.172700,2.408900,8.888200,15.934050,-2.819550
75%,0.000000,12.758200,1.358625,12.516700,8.324100,12.261125,0.924800,6.003000,19.102900,2.937900,...,6.406200,9.512525,2.949500,6.205800,20.396525,0.829600,6.556725,9.593300,18.064725,4.836800
max,1.000000,20.315000,10.376800,19.353000,13.188300,16.671400,17.251600,8.447700,27.691800,10.151300,...,18.440900,16.716500,8.402400,18.281800,27.928800,4.272900,18.321500,12.000400,26.079100,28.500700

In [15]:
for col in df_train.columns:
    print("Col: {}, type: {}".format(col,type(df_train[col].iloc[0])))

Col: ID_code, type: <class 'str'>
Col: target, type: <class 'numpy.int64'>
Col: var_0, type: <class 'numpy.float64'>
Col: var_1, type: <class 'numpy.float64'>
Col: var_2, type: <class 'numpy.float64'>
Col: var_3, type: <class 'numpy.float64'>
Col: var_4, type: <class 'numpy.float64'>
Col: var_5, type: <class 'numpy.float64'>
Col: var_6, type: <class 'numpy.float64'>
Col: var_7, type: <class 'numpy.float64'>
Col: var_8, type: <class 'numpy.float64'>
Col: var_9, type: <class 'numpy.float64'>
Col: var_10, type: <class 'numpy.float64'>
Col: var_11, type: <class 'numpy.float64'>
Col: var_12, type: <class 'numpy.float64'>
Col: var_13, type: <class 'numpy.float64'>
Col: var_14, type: <class 'numpy.float64'>
Col: var_15, type: <class 'numpy.float64'>
Col: var_16, type: <class 'numpy.float64'>
Col: var_17, type: <class 'numpy.float64'>
Col: var_18, type: <class 'numpy.float64'>
Col: var_19, type: <class 'numpy.float64'>
Col: var_20, type: <class 'numpy.float64'>
Col: var_21, type: <class 'numpy.float64'>
Col: var_22, type: <class 'numpy.float64'>
Col: var_23, type: <class 'numpy.float64'>
Col: var_24, type: <class 'numpy.float64'>
Col: var_25, type: <class 'numpy.float64'>
Col: var_26, type: <class 'numpy.float64'>
Col: var_27, type: <class 'numpy.float64'>
Col: var_28, type: <class 'numpy.float64'>
Col: var_29, type: <class 'numpy.float64'>
Col: var_30, type: <class 'numpy.float64'>
Col: var_31, type: <class 'numpy.float64'>
Col: var_32, type: <class 'numpy.float64'>
Col: var_33, type: <class 'numpy.float64'>
Col: var_34, type: <class 'numpy.float64'>
Col: var_35, type: <class 'numpy.float64'>
Col: var_36, type: <class 'numpy.float64'>
Col: var_37, type: <class 'numpy.float64'>
Col: var_38, type: <class 'numpy.float64'>
Col: var_39, type: <class 'numpy.float64'>
Col: var_40, type: <class 'numpy.float64'>
Col: var_41, type: <class 'numpy.float64'>
Col: var_42, type: <class 'numpy.float64'>
Col: var_43, type: <class 'numpy.float64'>
Col: var_44, type: <class 'numpy.float64'>
Col: var_45, type: <class 'numpy.float64'>
Col: var_46, type: <class 'numpy.float64'>
Col: var_47, type: <class 'numpy.float64'>
Col: var_48, type: <class 'numpy.float64'>
Col: var_49, type: <class 'numpy.float64'>
Col: var_50, type: <class 'numpy.float64'>
Col: var_51, type: <class 'numpy.float64'>
Col: var_52, type: <class 'numpy.float64'>
Col: var_53, type: <class 'numpy.float64'>
Col: var_54, type: <class 'numpy.float64'>
Col: var_55, type: <class 'numpy.float64'>
Col: var_56, type: <class 'numpy.float64'>
Col: var_57, type: <class 'numpy.float64'>
Col: var_58, type: <class 'numpy.float64'>
Col: var_59, type: <class 'numpy.float64'>
Col: var_60, type: <class 'numpy.float64'>
Col: var_61, type: <class 'numpy.float64'>
Col: var_62, type: <class 'numpy.float64'>
Col: var_63, type: <class 'numpy.float64'>
Col: var_64, type: <class 'numpy.float64'>
Col: var_65, type: <class 'numpy.float64'>
Col: var_66, type: <class 'numpy.float64'>
Col: var_67, type: <class 'numpy.float64'>
Col: var_68, type: <class 'numpy.float64'>
Col: var_69, type: <class 'numpy.float64'>
Col: var_70, type: <class 'numpy.float64'>
Col: var_71, type: <class 'numpy.float64'>
Col: var_72, type: <class 'numpy.float64'>
Col: var_73, type: <class 'numpy.float64'>
Col: var_74, type: <class 'numpy.float64'>
Col: var_75, type: <class 'numpy.float64'>
Col: var_76, type: <class 'numpy.float64'>
Col: var_77, type: <class 'numpy.float64'>
Col: var_78, type: <class 'numpy.float64'>
Col: var_79, type: <class 'numpy.float64'>
Col: var_80, type: <class 'numpy.float64'>
Col: var_81, type: <class 'numpy.float64'>
Col: var_82, type: <class 'numpy.float64'>
Col: var_83, type: <class 'numpy.float64'>
Col: var_84, type: <class 'numpy.float64'>
Col: var_85, type: <class 'numpy.float64'>
Col: var_86, type: <class 'numpy.float64'>
Col: var_87, type: <class 'numpy.float64'>
Col: var_88, type: <class 'numpy.float64'>
Col: var_89, type: <class 'numpy.float64'>
Col: var_90, type: <class 'numpy.float64'>
Col: var_91, type: <class 'numpy.float64'>
Col: var_92, type: <class 'numpy.float64'>
Col: var_93, type: <class 'numpy.float64'>
Col: var_94, type: <class 'numpy.float64'>
Col: var_95, type: <class 'numpy.float64'>
Col: var_96, type: <class 'numpy.float64'>
Col: var_97, type: <class 'numpy.float64'>
Col: var_98, type: <class 'numpy.float64'>
Col: var_99, type: <class 'numpy.float64'>
Col: var_100, type: <class 'numpy.float64'>
Col: var_101, type: <class 'numpy.float64'>
Col: var_102, type: <class 'numpy.float64'>
Col: var_103, type: <class 'numpy.float64'>
Col: var_104, type: <class 'numpy.float64'>
Col: var_105, type: <class 'numpy.float64'>
Col: var_106, type: <class 'numpy.float64'>
Col: var_107, type: <class 'numpy.float64'>
Col: var_108, type: <class 'numpy.float64'>
Col: var_109, type: <class 'numpy.float64'>
Col: var_110, type: <class 'numpy.float64'>
Col: var_111, type: <class 'numpy.float64'>
Col: var_112, type: <class 'numpy.float64'>
Col: var_113, type: <class 'numpy.float64'>
Col: var_114, type: <class 'numpy.float64'>
Col: var_115, type: <class 'numpy.float64'>
Col: var_116, type: <class 'numpy.float64'>
Col: var_117, type: <class 'numpy.float64'>
Col: var_118, type: <class 'numpy.float64'>
Col: var_119, type: <class 'numpy.float64'>
Col: var_120, type: <class 'numpy.float64'>
Col: var_121, type: <class 'numpy.float64'>
Col: var_122, type: <class 'numpy.float64'>
Col: var_123, type: <class 'numpy.float64'>
Col: var_124, type: <class 'numpy.float64'>
Col: var_125, type: <class 'numpy.float64'>
Col: var_126, type: <class 'numpy.float64'>
Col: var_127, type: <class 'numpy.float64'>
Col: var_128, type: <class 'numpy.float64'>
Col: var_129, type: <class 'numpy.float64'>
Col: var_130, type: <class 'numpy.float64'>
Col: var_131, type: <class 'numpy.float64'>
Col: var_132, type: <class 'numpy.float64'>
Col: var_133, type: <class 'numpy.float64'>
Col: var_134, type: <class 'numpy.float64'>
Col: var_135, type: <class 'numpy.float64'>
Col: var_136, type: <class 'numpy.float64'>
Col: var_137, type: <class 'numpy.float64'>
Col: var_138, type: <class 'numpy.float64'>
Col: var_139, type: <class 'numpy.float64'>
Col: var_140, type: <class 'numpy.float64'>
Col: var_141, type: <class 'numpy.float64'>
Col: var_142, type: <class 'numpy.float64'>
Col: var_143, type: <class 'numpy.float64'>
Col: var_144, type: <class 'numpy.float64'>
Col: var_145, type: <class 'numpy.float64'>
Col: var_146, type: <class 'numpy.float64'>
Col: var_147, type: <class 'numpy.float64'>
Col: var_148, type: <class 'numpy.float64'>
Col: var_149, type: <class 'numpy.float64'>
Col: var_150, type: <class 'numpy.float64'>
Col: var_151, type: <class 'numpy.float64'>
Col: var_152, type: <class 'numpy.float64'>
Col: var_153, type: <class 'numpy.float64'>
Col: var_154, type: <class 'numpy.float64'>
Col: var_155, type: <class 'numpy.float64'>
Col: var_156, type: <class 'numpy.float64'>
Col: var_157, type: <class 'numpy.float64'>
Col: var_158, type: <class 'numpy.float64'>
Col: var_159, type: <class 'numpy.float64'>
Col: var_160, type: <class 'numpy.float64'>
Col: var_161, type: <class 'numpy.float64'>
Col: var_162, type: <class 'numpy.float64'>
Col: var_163, type: <class 'numpy.float64'>
Col: var_164, type: <class 'numpy.float64'>
Col: var_165, type: <class 'numpy.float64'>
Col: var_166, type: <class 'numpy.float64'>
Col: var_167, type: <class 'numpy.float64'>
Col: var_168, type: <class 'numpy.float64'>
Col: var_169, type: <class 'numpy.float64'>
Col: var_170, type: <class 'numpy.float64'>
Col: var_171, type: <class 'numpy.float64'>
Col: var_172, type: <class 'numpy.float64'>
Col: var_173, type: <class 'numpy.float64'>
Col: var_174, type: <class 'numpy.float64'>
Col: var_175, type: <class 'numpy.float64'>
Col: var_176, type: <class 'numpy.float64'>
Col: var_177, type: <class 'numpy.float64'>
Col: var_178, type: <class 'numpy.float64'>
Col: var_179, type: <class 'numpy.float64'>
Col: var_180, type: <class 'numpy.float64'>
Col: var_181, type: <class 'numpy.float64'>
Col: var_182, type: <class 'numpy.float64'>
Col: var_183, type: <class 'numpy.float64'>
Col: var_184, type: <class 'numpy.float64'>
Col: var_185, type: <class 'numpy.float64'>
Col: var_186, type: <class 'numpy.float64'>
Col: var_187, type: <class 'numpy.float64'>
Col: var_188, type: <class 'numpy.float64'>
Col: var_189, type: <class 'numpy.float64'>
Col: var_190, type: <class 'numpy.float64'>
Col: var_191, type: <class 'numpy.float64'>
Col: var_192, type: <class 'numpy.float64'>
Col: var_193, type: <class 'numpy.float64'>
Col: var_194, type: <class 'numpy.float64'>
Col: var_195, type: <class 'numpy.float64'>
Col: var_196, type: <class 'numpy.float64'>
Col: var_197, type: <class 'numpy.float64'>
Col: var_198, type: <class 'numpy.float64'>
Col: var_199, type: <class 'numpy.float64'>

In [21]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Columns: 201 entries, ID_code to var_199
dtypes: float64(200), object(1)
memory usage: 306.7+ MB

In [22]:
df_test.describe()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,...,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,10.658737,-1.624244,10.707452,6.788214,11.076399,-5.050558,5.415164,16.529143,0.277135,7.569407,...,3.189766,7.458269,1.925944,3.322016,17.996967,-0.133657,2.290899,8.912428,15.869184,-3.246342
std,3.036716,4.040509,2.633888,2.052724,1.616456,7.869293,0.864686,3.424482,3.333375,1.231865,...,4.551239,3.025189,1.479966,3.995599,3.140652,1.429678,5.446346,0.920904,3.008717,10.398589
min,0.188700,-15.043400,2.355200,-0.022400,5.484400,-27.767000,2.216400,5.713700,-9.956000,4.243300,...,-14.093300,-2.407000,-3.340900,-11.413100,9.382800,-4.911900,-13.944200,6.169600,6.584000,-39.457800
25%,8.442975,-4.700125,8.735600,5.230500,9.891075,-11.201400,4.772600,13.933900,-2.303900,6.623800,...,-0.095000,5.166500,0.882975,0.587600,15.634775,-1.160700,-1.948600,8.260075,13.847275,-11.124000
50%,10.513800,-1.590500,10.560700,6.822350,11.099750,-4.834100,5.391600,16.422700,0.372000,7.632000,...,3.162400,7.379000,1.892600,3.428500,17.977600,-0.162000,2.403600,8.892800,15.943400,-2.725950
75%,12.739600,1.343400,12.495025,8.327600,12.253400,0.942575,6.005800,19.094550,2.930025,8.584825,...,6.336475,9.531100,2.956000,6.174200,20.391725,0.837900,6.519800,9.595900,18.045200,4.935400
max,22.323400,9.385100,18.714100,13.142000,16.037100,17.253700,8.302500,28.292800,9.665500,11.003600,...,20.359000,16.716500,8.005000,17.632600,27.947800,4.545400,15.920700,12.275800,26.538400,27.907400

In [23]:
for col in df_train.columns:
    print("Col: {}, type: {}".format(col,type(df_train[col].iloc[0])))

Col: ID_code, type: <class 'str'>
Col: target, type: <class 'numpy.int64'>
Col: var_0, type: <class 'numpy.float64'>
Col: var_1, type: <class 'numpy.float64'>
Col: var_2, type: <class 'numpy.float64'>
Col: var_3, type: <class 'numpy.float64'>
Col: var_4, type: <class 'numpy.float64'>
Col: var_5, type: <class 'numpy.float64'>
Col: var_6, type: <class 'numpy.float64'>
Col: var_7, type: <class 'numpy.float64'>
Col: var_8, type: <class 'numpy.float64'>
Col: var_9, type: <class 'numpy.float64'>
Col: var_10, type: <class 'numpy.float64'>
Col: var_11, type: <class 'numpy.float64'>
Col: var_12, type: <class 'numpy.float64'>
Col: var_13, type: <class 'numpy.float64'>
Col: var_14, type: <class 'numpy.float64'>
Col: var_15, type: <class 'numpy.float64'>
Col: var_16, type: <class 'numpy.float64'>
Col: var_17, type: <class 'numpy.float64'>
Col: var_18, type: <class 'numpy.float64'>
Col: var_19, type: <class 'numpy.float64'>
Col: var_20, type: <class 'numpy.float64'>
Col: var_21, type: <class 'numpy.float64'>
Col: var_22, type: <class 'numpy.float64'>
Col: var_23, type: <class 'numpy.float64'>
Col: var_24, type: <class 'numpy.float64'>
Col: var_25, type: <class 'numpy.float64'>
Col: var_26, type: <class 'numpy.float64'>
Col: var_27, type: <class 'numpy.float64'>
Col: var_28, type: <class 'numpy.float64'>
Col: var_29, type: <class 'numpy.float64'>
Col: var_30, type: <class 'numpy.float64'>
Col: var_31, type: <class 'numpy.float64'>
Col: var_32, type: <class 'numpy.float64'>
Col: var_33, type: <class 'numpy.float64'>
Col: var_34, type: <class 'numpy.float64'>
Col: var_35, type: <class 'numpy.float64'>
Col: var_36, type: <class 'numpy.float64'>
Col: var_37, type: <class 'numpy.float64'>
Col: var_38, type: <class 'numpy.float64'>
Col: var_39, type: <class 'numpy.float64'>
Col: var_40, type: <class 'numpy.float64'>
Col: var_41, type: <class 'numpy.float64'>
Col: var_42, type: <class 'numpy.float64'>
Col: var_43, type: <class 'numpy.float64'>
Col: var_44, type: <class 'numpy.float64'>
Col: var_45, type: <class 'numpy.float64'>
Col: var_46, type: <class 'numpy.float64'>
Col: var_47, type: <class 'numpy.float64'>
Col: var_48, type: <class 'numpy.float64'>
Col: var_49, type: <class 'numpy.float64'>
Col: var_50, type: <class 'numpy.float64'>
Col: var_51, type: <class 'numpy.float64'>
Col: var_52, type: <class 'numpy.float64'>
Col: var_53, type: <class 'numpy.float64'>
Col: var_54, type: <class 'numpy.float64'>
Col: var_55, type: <class 'numpy.float64'>
Col: var_56, type: <class 'numpy.float64'>
Col: var_57, type: <class 'numpy.float64'>
Col: var_58, type: <class 'numpy.float64'>
Col: var_59, type: <class 'numpy.float64'>
Col: var_60, type: <class 'numpy.float64'>
Col: var_61, type: <class 'numpy.float64'>
Col: var_62, type: <class 'numpy.float64'>
Col: var_63, type: <class 'numpy.float64'>
Col: var_64, type: <class 'numpy.float64'>
Col: var_65, type: <class 'numpy.float64'>
Col: var_66, type: <class 'numpy.float64'>
Col: var_67, type: <class 'numpy.float64'>
Col: var_68, type: <class 'numpy.float64'>
Col: var_69, type: <class 'numpy.float64'>
Col: var_70, type: <class 'numpy.float64'>
Col: var_71, type: <class 'numpy.float64'>
Col: var_72, type: <class 'numpy.float64'>
Col: var_73, type: <class 'numpy.float64'>
Col: var_74, type: <class 'numpy.float64'>
Col: var_75, type: <class 'numpy.float64'>
Col: var_76, type: <class 'numpy.float64'>
Col: var_77, type: <class 'numpy.float64'>
Col: var_78, type: <class 'numpy.float64'>
Col: var_79, type: <class 'numpy.float64'>
Col: var_80, type: <class 'numpy.float64'>
Col: var_81, type: <class 'numpy.float64'>
Col: var_82, type: <class 'numpy.float64'>
Col: var_83, type: <class 'numpy.float64'>
Col: var_84, type: <class 'numpy.float64'>
Col: var_85, type: <class 'numpy.float64'>
Col: var_86, type: <class 'numpy.float64'>
Col: var_87, type: <class 'numpy.float64'>
Col: var_88, type: <class 'numpy.float64'>
Col: var_89, type: <class 'numpy.float64'>
Col: var_90, type: <class 'numpy.float64'>
Col: var_91, type: <class 'numpy.float64'>
Col: var_92, type: <class 'numpy.float64'>
Col: var_93, type: <class 'numpy.float64'>
Col: var_94, type: <class 'numpy.float64'>
Col: var_95, type: <class 'numpy.float64'>
Col: var_96, type: <class 'numpy.float64'>
Col: var_97, type: <class 'numpy.float64'>
Col: var_98, type: <class 'numpy.float64'>
Col: var_99, type: <class 'numpy.float64'>
Col: var_100, type: <class 'numpy.float64'>
Col: var_101, type: <class 'numpy.float64'>
Col: var_102, type: <class 'numpy.float64'>
Col: var_103, type: <class 'numpy.float64'>
Col: var_104, type: <class 'numpy.float64'>
Col: var_105, type: <class 'numpy.float64'>
Col: var_106, type: <class 'numpy.float64'>
Col: var_107, type: <class 'numpy.float64'>
Col: var_108, type: <class 'numpy.float64'>
Col: var_109, type: <class 'numpy.float64'>
Col: var_110, type: <class 'numpy.float64'>
Col: var_111, type: <class 'numpy.float64'>
Col: var_112, type: <class 'numpy.float64'>
Col: var_113, type: <class 'numpy.float64'>
Col: var_114, type: <class 'numpy.float64'>
Col: var_115, type: <class 'numpy.float64'>
Col: var_116, type: <class 'numpy.float64'>
Col: var_117, type: <class 'numpy.float64'>
Col: var_118, type: <class 'numpy.float64'>
Col: var_119, type: <class 'numpy.float64'>
Col: var_120, type: <class 'numpy.float64'>
Col: var_121, type: <class 'numpy.float64'>
Col: var_122, type: <class 'numpy.float64'>
Col: var_123, type: <class 'numpy.float64'>
Col: var_124, type: <class 'numpy.float64'>
Col: var_125, type: <class 'numpy.float64'>
Col: var_126, type: <class 'numpy.float64'>
Col: var_127, type: <class 'numpy.float64'>
Col: var_128, type: <class 'numpy.float64'>
Col: var_129, type: <class 'numpy.float64'>
Col: var_130, type: <class 'numpy.float64'>
Col: var_131, type: <class 'numpy.float64'>
Col: var_132, type: <class 'numpy.float64'>
Col: var_133, type: <class 'numpy.float64'>
Col: var_134, type: <class 'numpy.float64'>
Col: var_135, type: <class 'numpy.float64'>
Col: var_136, type: <class 'numpy.float64'>
Col: var_137, type: <class 'numpy.float64'>
Col: var_138, type: <class 'numpy.float64'>
Col: var_139, type: <class 'numpy.float64'>
Col: var_140, type: <class 'numpy.float64'>
Col: var_141, type: <class 'numpy.float64'>
Col: var_142, type: <class 'numpy.float64'>
Col: var_143, type: <class 'numpy.float64'>
Col: var_144, type: <class 'numpy.float64'>
Col: var_145, type: <class 'numpy.float64'>
Col: var_146, type: <class 'numpy.float64'>
Col: var_147, type: <class 'numpy.float64'>
Col: var_148, type: <class 'numpy.float64'>
Col: var_149, type: <class 'numpy.float64'>
Col: var_150, type: <class 'numpy.float64'>
Col: var_151, type: <class 'numpy.float64'>
Col: var_152, type: <class 'numpy.float64'>
Col: var_153, type: <class 'numpy.float64'>
Col: var_154, type: <class 'numpy.float64'>
Col: var_155, type: <class 'numpy.float64'>
Col: var_156, type: <class 'numpy.float64'>
Col: var_157, type: <class 'numpy.float64'>
Col: var_158, type: <class 'numpy.float64'>
Col: var_159, type: <class 'numpy.float64'>
Col: var_160, type: <class 'numpy.float64'>
Col: var_161, type: <class 'numpy.float64'>
Col: var_162, type: <class 'numpy.float64'>
Col: var_163, type: <class 'numpy.float64'>
Col: var_164, type: <class 'numpy.float64'>
Col: var_165, type: <class 'numpy.float64'>
Col: var_166, type: <class 'numpy.float64'>
Col: var_167, type: <class 'numpy.float64'>
Col: var_168, type: <class 'numpy.float64'>
Col: var_169, type: <class 'numpy.float64'>
Col: var_170, type: <class 'numpy.float64'>
Col: var_171, type: <class 'numpy.float64'>
Col: var_172, type: <class 'numpy.float64'>
Col: var_173, type: <class 'numpy.float64'>
Col: var_174, type: <class 'numpy.float64'>
Col: var_175, type: <class 'numpy.float64'>
Col: var_176, type: <class 'numpy.float64'>
Col: var_177, type: <class 'numpy.float64'>
Col: var_178, type: <class 'numpy.float64'>
Col: var_179, type: <class 'numpy.float64'>
Col: var_180, type: <class 'numpy.float64'>
Col: var_181, type: <class 'numpy.float64'>
Col: var_182, type: <class 'numpy.float64'>
Col: var_183, type: <class 'numpy.float64'>
Col: var_184, type: <class 'numpy.float64'>
Col: var_185, type: <class 'numpy.float64'>
Col: var_186, type: <class 'numpy.float64'>
Col: var_187, type: <class 'numpy.float64'>
Col: var_188, type: <class 'numpy.float64'>
Col: var_189, type: <class 'numpy.float64'>
Col: var_190, type: <class 'numpy.float64'>
Col: var_191, type: <class 'numpy.float64'>
Col: var_192, type: <class 'numpy.float64'>
Col: var_193, type: <class 'numpy.float64'>
Col: var_194, type: <class 'numpy.float64'>
Col: var_195, type: <class 'numpy.float64'>
Col: var_196, type: <class 'numpy.float64'>
Col: var_197, type: <class 'numpy.float64'>
Col: var_198, type: <class 'numpy.float64'>
Col: var_199, type: <class 'numpy.float64'>